<div class = "hero">
  <br />
  <br />
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <h1> Tings Bahamas </h1>
    <br />
    <h2>Your one-stop online nationwide classifieds.</h2>
    <br />
    <form class="form-inline col-10 offset-1">
        <input class="form-control form-control-lg col-6" type="text" placeholder="Honda Civic">
        &nbsp;
        <select class="form-control form-control-lg col-2" id="categorySelect">
          <option></option>
          <option></option>
          <option></option>
          <option></option>
          <option></option>
        </select>
        &nbsp;
        <select class="form-control form-control-lg col-2" id="categorySelect">
            <option></option>
            <option></option>
            <option></option>
            <option></option>
            <option></option>
          </select>
        &nbsp;
        <button class="btn btn-lg btn-primary" type="submit">Search</button>
    </form>
  </div>
</div>
<br />
<h2 class="text-center">Commonly Searched Items </h2>
<br />
<div class="row text-center">
  <div class="home-category col-12 col-sm-3">
    <h3>Cars</h3>
    <br />
    <i class="fa fa-car fa-5x" aria-hidden="true"></i>
  </div>
  <div class="home-category col-12 col-sm-3">
    <h3>Electronics</h3>
    <br />
    <i class="fa fa-television fa-5x" aria-hidden="true"></i>
  </div>
  <div class="home-category col-12 col-sm-3">
    <h3>Property</h3>
    <br />
    <i class="fa fa-home fa-5x" aria-hidden="true"></i> 
  </div>
  <div class="home-category col-12 col-sm-3">
    <h3>Services</h3>
    <br />
    <i class="fa fa-user fa-5x" aria-hidden="true"></i>
  </div>
</div>