@font-face {
  font-family: 'oxygenbold';
  src: font_url('oxygen-bold-webfont.woff2') format('woff2'),
       font_url('oxygen-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'oxygenbold_italic';
  src: font_url('oxygen-bolditalic-webfont.woff2') format('woff2'),
       font_url('oxygen-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'oxygenitalic';
  src: font_url('oxygen-italic-webfont.woff2') format('woff2'),
       font_url('oxygen-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'oxygenregular';
  src: font_url('oxygen-webfont.woff2') format('woff2'),
       font_url('oxygen-webfont.woff') format('woff');
  font-style: normal;

}

@font-face {
  font-family: 'source_sans_problack';
  src: font_url('sourcesanspro-black-webfont.woff2') format('woff2'),
       font_url('sourcesanspro-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'source_sans_problack_italic';
  src: font_url('sourcesanspro-blackit-webfont.woff2') format('woff2'),
       font_url('sourcesanspro-blackit-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'source_sans_probold';
  src: font_url('sourcesanspro-bold-webfont.woff2') format('woff2'),
       font_url('sourcesanspro-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'source_sans_probold_italic';
  src: font_url('sourcesanspro-boldit-webfont.woff2') format('woff2'),
       font_url('sourcesanspro-boldit-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'source_sans_proextralight';
  src: font_url('sourcesanspro-extralight-webfont.woff2') format('woff2'),
       font_url('sourcesanspro-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'source_sans_proXLtIt';
  src: font_url('sourcesanspro-extralightit-webfont.woff2') format('woff2'),
       font_url('sourcesanspro-extralightit-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'source_sans_proitalic';
  src: font_url('sourcesanspro-it-webfont.woff2') format('woff2'),
       font_url('sourcesanspro-it-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'source_sans_prolight';
  src: font_url('sourcesanspro-light-webfont.woff2') format('woff2'),
       font_url('sourcesanspro-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'source_sans_prolight_italic';
  src: font_url('sourcesanspro-lightit-webfont.woff2') format('woff2'),
       font_url('sourcesanspro-lightit-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'source_sans_proregular';
  src: font_url('sourcesanspro-regular-webfont.woff2') format('woff2'),
       font_url('sourcesanspro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'source_sans_prosemibold';
  src: font_url('sourcesanspro-semibold-webfont.woff2') format('woff2'),
       url('sourcesanspro-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'source_sans_proSBdIt';
  src: url('sourcesanspro-semiboldit-webfont.woff2') format('woff2'),
       font_url('sourcesanspro-semiboldit-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on January 20, 2018 */



@font-face {
  font-family: 'caveatbold';
  src: font_url('caveat-bold-webfont.woff2') format('woff2'),
       font_url('caveat-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'caveatregular';
  src: font_url('caveat-regular-webfont.woff2') format('woff2'),
       font_url('caveat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'caveat_brushregular';
  src: font_url('caveatbrush-regular-webfont.woff2') format('woff2'),
       font_url('caveatbrush-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}