/***********************************
Footer
************************************/
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#flex-content-container {
  flex: 1;
}

.footer {
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 10px 0px;
  background: rgb(209, 209, 209);
  color: #ccc;
  margin-top: 30px
}
.footer a {
  color: #fff;
}

.footer h3{
font-weight: 300;
letter-spacing: 0.05em;
margin: 0 0 40px;
font-size: 24px;
}
.footer .form-control {
  border-radius: 30px;
  border: none;
  background: rgba(255,255,255,.1);
  padding-left: 30px;
  color: #e5e6e7;
  margin-bottom: 0;
  height: 48px;
}
.footer .social-links li a {
  color: #5cb85c;
  font-size: 32px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.footer .social-links li {
  display: inline-block;
  margin: 0 25px 25px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.footer .mc-trial {
  margin: 20px 0;
}
.footer .social-links {
  list-style: none;
  padding: 0;
  margin: 30px 0 40px;
  padding: 40px 0 0;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.btn-submit:hover, .btn-submit:focus{
  background-color: #5fcf80;
  color: #fff;
}
.btn-submit{
padding: 14px 12px;
border-radius: 50px;
text-transform: uppercase;
  background-color: #5fcf80;
  color: #fff;
}
.btn-submit i{
padding-left: 8px;
}

.btn-sec {
  margin-top: 20px;
}
.ser-btn {
  padding: 10px 18px;
  border: 0px;
  background-color: #222935;
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 20px;
}
.mem-info{
  padding: 45px 10px 0px;
  background-color: #eee;
}
.mem-info h4 {
  font-size: 18px;
  padding: 10px 0px;
}
.mem-info h3{
  font-size: 24px;
  padding: 15px 0px;
}
.mem-info h5
{
  margin-top: 10px;
  margin-bottom: 10px;
}
.mem-info p {
  margin: 0 0 10px;
}
.agent-social li {
  display: inline-block;
  padding: 0px 10px 0px 0px;
  margin-bottom: 10px;
}
.btn {
  padding: 10px 20px;
}
.light-form-button{
  background: #5fcf80;
  border: 1px solid rgba(119, 81, 81, 0.34);
  width: 24%;
  padding: 10px 10px;
  margin-bottom: 15px;
  color: #fff;
  border: 1px solid rgba(119, 81, 81, 0.34);
  width: 24%;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-green, .btn-green:hover{
  background-color: #5fcf80;
  color: #fff;
}
.footer .form-control:focus{
  box-shadow: none;
}