@import "bootstrap";
@import "font-awesome";


.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #cfcfd1;
}

.frosty {
  background:rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px 
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  letter-spacing: 4px;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  font-size: 25px;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn {
  border-radius: 0;
}

.form-control, .form-control-lg {
  border-radius: 0;
}

.home-category h3 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  letter-spacing: 1px;
}