/* Basic Styling */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
 
.product-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}


.ad-img {
  width: 100%;
  left: 0;
  top: 0;
}
 

/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* Product Color */
.seller-info {
  margin-bottom: 30px;
  border-bottom: 1px solid #E1E8EE;
}


/* Cable Configuration */
.seller-contact-info {
  margin-bottom: 20px;
}
 
.seller-contact-info button {
  border: 2px solid #449d44;
  border-radius: 6px;
  padding: 13px 13px;
  font-size: 16px;
  color: #43484D;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}
 
.seller-contact-info button:hover,
.seller-contact-info button:active,
.seller-contact-info button:focus {
  border: 2px solid #449d44;
  color: white;
  background-color:#449d44;
  outline: none;
  text-decoration: none;
}
 
.seller-contact {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
 
.seller-contact a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.seller-contact a:before {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}
 
.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}
 
.save-btn {
  display: inline-block;
  background-color: #64af3d;
  border-radius: 25px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.save-btn:hover {
  background-color: #64af3d;
  color: white;
  text-decoration: none;
}

#email, #phone {
  display: none;
}