<style>
  .navbar-custom{ background-color: #00baba; color: white;}
</style>
<div class="ad-index col-8 offset-2"> 
  <h1 class= "text-center">Add A Category</h1>

  <%= simple_form_for @category, url: categories_path do |f| %>
    <%= f.input :name, label: false, placeholder: "Category Name" %>
    <%= f.input :parent, label: false, placeholder: "Parent category" %>
    
    <%= f.submit "Add Category", class: 'btn btn-lg btn-content' %>    
  <% end %>
  <br />
</div>